/*
CSS root variables media
*/
@media screen and (max-width: 1199px) {
  :root {
    --bdrs: 5px;
    --sm: 5px;
    --md: 12px;
    --lg: 20px;
    --xl: 35px; } }
@media screen and (min-width: 1200px) {
  :root {
    --bdrs: 10px;
    --sm: 8px;
    --md: 15px;
    --lg: 30px;
    --xl: 55px; } }
@media screen and (max-width: 991px) {
  :root {
    --font-size-base: 16px; } }
@media screen and (min-width: 992px) {
  :root {
    --font-size-base: 20px; } }
.section {
  top: 0; }
  @media screen and (max-width: 575px) {
    .section {
      position: relative; } }
  @media screen and (min-width: 576px) {
    .section {
      position: sticky; } }
  .section.section--white {
    background-color: #fff; }
  .section.section--orange {
    background-color: #F2AE2C; }

/* Participation section */
.section--participation {
  position: relative;
  z-index: 1; }
  .section--participation.replace-color {
    background-color: #F2AE2C;
    transition: background-color 0.75s ease-in-out; }
    .section--participation.replace-color + .section--why {
      background-color: #F2AE2C;
      transition: background-color 0.75s ease-in-out; }
  .section--participation .nav-horizontal {
    margin-top: 120px;
    display: grid; }
    @media screen and (max-width: 767px) {
      .section--participation .nav-horizontal {
        margin-left: 35px; } }
    @media screen and (max-width: 575px) {
      .section--participation .nav-horizontal {
        grid-template-columns: 1fr;
        margin-left: auto;
        margin-right: auto;
        max-width: 60vw; } }
    @media screen and (min-width: 576px) {
      .section--participation .nav-horizontal {
        grid-template-columns: 1fr 1fr;
        grid-gap: 1vw; } }
    @media screen and (min-width: 992px) {
      .section--participation .nav-horizontal {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 5vw; } }
    .section--participation .nav-horizontal li {
      list-style: none;
      margin-left: 20px;
      position: relative;
      z-index: 2; }
      @media screen and (min-width: 576px) {
        .section--participation .nav-horizontal li {
          line-height: 1.6; } }
      @media screen and (min-width: 576px) {
        .section--participation .nav-horizontal li {
          min-height: 170px; } }
      .section--participation .nav-horizontal li:before {
        background-color: rgba(0, 118, 223, 0.1);
        border-radius: 50%;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: "Nunito Sans", sans-serif;
        font-size: 4rem;
        height: 150px;
        width: 150px;
        position: absolute;
        top: -110px;
        left: -60px;
        z-index: -1;
        transition: background-color 0.15s ease-in-out; }
      .section--participation .nav-horizontal li:nth-child(1):before {
        content: '1';
        transform: scale(0.5); }
      @media screen and (max-width: 575px) {
        .section--participation .nav-horizontal li:nth-child(1) {
          min-height: 150px; } }
      .section--participation .nav-horizontal li:nth-child(2):before {
        content: '2';
        transform: scale(0.75); }
      @media screen and (max-width: 575px) {
        .section--participation .nav-horizontal li:nth-child(2) {
          min-height: 170px; } }
      .section--participation .nav-horizontal li:nth-child(3):before {
        content: '3'; }
      @media screen and (max-width: 575px) {
        .section--participation .nav-horizontal li:nth-child(3) {
          min-height: 200px; } }
      .section--participation .nav-horizontal li:nth-child(4):before {
        content: '4';
        transform: scale(1.25); }
      @media screen and (max-width: 575px) {
        .section--participation .nav-horizontal li:nth-child(4) {
          min-height: 100px; } }
      .section--participation .nav-horizontal li span {
        font-weight: 600;
        line-height: 1.5; }
        @media screen and (max-width: 575px) {
          .section--participation .nav-horizontal li span br {
            display: none; } }
      .section--participation .nav-horizontal li:after {
        content: '';
        background-color: #F2AE2C;
        height: 3px;
        position: absolute;
        left: -5px;
        z-index: -1;
        width: 26px;
        opacity: .8; }
        @media screen and (max-width: 991px) {
          .section--participation .nav-horizontal li:after {
            top: 23px; } }
        @media screen and (max-width: 575px) {
          .section--participation .nav-horizontal li:after {
            top: 19px; } }
        @media screen and (min-width: 992px) {
          .section--participation .nav-horizontal li:after {
            top: 26px; } }

/* Why section */
.section--why {
  z-index: 2; }
  @media screen and (max-width: 767px) {
    .section--why {
      background: url("../img/bg-azati-m-min.png") #F2AE2C 50% 100% no-repeat; } }
  @media screen and (min-width: 768px) {
    .section--why {
      background: url("../img/bg-azati-min.png") #F2AE2C 50% 100% no-repeat;
      background-size: contain; } }
  @media screen and (max-width: 767px) {
    .section--why h1 br {
      display: none; } }
  @media screen and (min-width: 768px) {
    .section--why h2,
    .section--why p {
      padding-left: 20vw;
      width: auto; } }
  @media screen and (min-width: 768px) {
    .section--why p {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;
      min-height: 30vh;
      box-sizing: border-box; } }
  .section--why small {
    display: block;
    padding: 2vh 0 0 10px;
    position: relative; }
    .section--why small:before {
      content: '*';
      position: absolute;
      top: 22px;
      left: 0; }

/* Offer section */
.section--offer {
  z-index: 4; }
  .section--offer .offer {
    display: grid;
    grid-gap: var(--lg); }
    @media screen and (max-width: 575px) {
      .section--offer .offer {
        grid-template-columns: 1fr;
        grid-auto-rows: 80px; } }
    @media screen and (min-width: 576px) {
      .section--offer .offer {
        grid-template-columns: 1fr 1fr;
        grid-auto-rows: 100px; } }
    @media screen and (min-width: 992px) {
      .section--offer .offer {
        grid-template-columns: 1fr 1fr 1fr; } }
  .section--offer .offer_item {
    display: flex;
    align-items: center; }
    .section--offer .offer_item span {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-shrink: 0;
      margin-right: 10px; }
      @media screen and (max-width: 575px) {
        .section--offer .offer_item span {
          width: 70px;
          height: 70px; } }
      @media screen and (max-width: 374px) {
        .section--offer .offer_item span {
          background-size: 40px !important;
          width: 50px;
          height: 50px; } }
      @media screen and (min-width: 576px) {
        .section--offer .offer_item span {
          width: 85px;
          height: 85px; } }
    .section--offer .offer_item.offer_item--welcome span {
      background: url("../img/i-welcome-min.svg") 50% no-repeat; }
    .section--offer .offer_item.offer_item--anywhere span {
      background: url("../img/i-work-anywhere.svg") 50% no-repeat; }
    .section--offer .offer_item.offer_item--bonuses span {
      background: url("../img/i-personal-bonuses.svg") 50% no-repeat; }
    .section--offer .offer_item.offer_item--care span {
      background: url("../img/i-medical-insurance.svg") 50% no-repeat; }
    .section--offer .offer_item.offer_item--languages span {
      background: url("../img/i-foreign-languages.svg") 50% no-repeat; }
    .section--offer .offer_item.offer_item--office span {
      background: url("../img/i-comfortable-office.svg") 50% no-repeat; }
    .section--offer .offer_item.offer_item--sale span {
      background: url("../img/i-discount-program.svg") 50% no-repeat; }
    .section--offer .offer_item.offer_item--schedule span {
      background: url("../img/i-flexible-schedule.svg") 50% no-repeat; }
    .section--offer .offer_item.offer_item--tuition span {
      background: url("../img/i-tuition-support.svg") 50% no-repeat; }

/* Technologies section */
.section--technologies {
  align-items: end;
  z-index: 3; }
  @media screen and (min-width: 576px) {
    .section--technologies {
      min-height: 90vh; } }
  @media screen and (min-width: 768px) {
    .section--technologies {
      position: relative; } }
  @media screen and (max-width: 767px) {
    .section--technologies p br {
      display: none; } }
  @media screen and (min-width: 768px) {
    .section--technologies p {
      padding-left: 20vw;
      width: auto;
      max-width: 720px; } }
  .section--technologies .technologies {
    display: grid;
    grid-gap: 10px; }
    @media screen and (max-width: 374px) {
      .section--technologies .technologies {
        grid-template-columns: 1fr 1fr; } }
    @media screen and (min-width: 375px) {
      .section--technologies .technologies {
        grid-template-columns: 1fr 1fr 1fr; } }
    @media screen and (min-width: 768px) {
      .section--technologies .technologies {
        padding-left: 18vw;
        width: auto; } }
    @media screen and (min-width: 992px) {
      .section--technologies .technologies {
        grid-template-columns: 1fr 1fr 1fr 1fr; } }
    @media screen and (min-width: 1400px) {
      .section--technologies .technologies {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr; } }
  .section--technologies .technologies__item {
    background-color: transparent;
    border: 0 none;
    display: flex;
    align-items: center;
    text-align: center; }
    @media screen and (max-width: 767px) {
      .section--technologies .technologies__item {
        height: 85px; } }
    @media screen and (max-width: 575px) {
      .section--technologies .technologies__item {
        height: 70px; } }
    @media screen and (min-width: 768px) {
      .section--technologies .technologies__item {
        height: 100px; } }
    .section--technologies .technologies__item img {
      display: block;
      height: 100%;
      max-width: 100%;
      margin: auto;
      opacity: .5;
      transition: all 0.15s ease-in-out; }
      @media screen and (max-width: 575px) {
        .section--technologies .technologies__item img {
          max-height: 50px;
          max-width: 90px; } }
      @media screen and (min-width: 576px) {
        .section--technologies .technologies__item img {
          max-height: 65px;
          max-width: 115px; } }
    .section--technologies .technologies__item:hover img {
      opacity: 1;
      -webkit-transform: scale(1.2); }

/* Form section */
.section--form {
  z-index: 5; }
  @media screen and (max-width: 575px) {
    .section--form {
      position: relative; } }
  .section--form .form {
    display: grid; }
    @media screen and (max-width: 575px) {
      .section--form .form {
        grid-template-columns: 1fr; } }
    @media screen and (min-width: 576px) {
      .section--form .form {
        grid-template-columns: repeat(2, [col] 1fr);
        grid-template-rows: repeat(2, [row] auto);
        grid-gap: 0 var(--lg); }
        .section--form .form .form-group--1 {
          grid-column: col / span;
          grid-row: row; }
        .section--form .form .form-group--2 {
          grid-column: col / span;
          grid-row: row; }
        .section--form .form .form-group--3 {
          grid-column: col / span;
          grid-row: row 2; } }
    @media screen and (min-width: 992px) {
      .section--form .form {
        grid-template-columns: repeat(3, [col] 1fr); }
        .section--form .form .form-group--1,
        .section--form .form .form-group--2,
        .section--form .form .form-group--3 {
          grid-column: col / span;
          grid-row: row; } }
  .section--form .form-group--4 {
    width: 100%;
    display: grid; }
    @media screen and (max-width: 575px) {
      .section--form .form-group--4 {
        grid-template-columns: 1fr; } }
    @media screen and (min-width: 576px) {
      .section--form .form-group--4 {
        grid-template-columns: 1fr;
        margin-bottom: 2vh;
        grid-column: col 2 / span;
        grid-row: row 2; } }
    @media screen and (min-width: 992px) {
      .section--form .form-group--4 {
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: var(--lg);
        grid-column: col / span 3;
        grid-row: row 2; } }
  @media screen and (max-width: 575px) {
    .section--form h1 {
      word-break: break-word; } }
  @media screen and (min-width: 576px) {
    .section--form h1 {
      max-width: 60vw; } }
  .section--form .b-checkbox {
    margin-top: 22px;
    padding-bottom: 2vh; }
    .section--form .b-checkbox .small {
      display: block; }
    .section--form .b-checkbox a {
      text-decoration: underline;
      transition: all 0.3s ease-in-out; }
      .section--form .b-checkbox a:hover {
        text-decoration: none; }
  .section--form .btn {
    margin-bottom: 0; }
    @media screen and (min-width: 576px) {
      .section--form .btn {
        margin-top: auto;
        margin-right: 0; } }
