/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
 # Variables
 # General layout
 # Header elements
 # Footer elements
 # Forms
 # Buttons
 # Lines
--------------------------------------------------------------*/
/*
CSS root variables media
*/
@media screen and (max-width: 1199px) {
  :root {
    --bdrs: 5px;
    --sm: 5px;
    --md: 12px;
    --lg: 20px;
    --xl: 35px; } }
@media screen and (min-width: 1200px) {
  :root {
    --bdrs: 10px;
    --sm: 8px;
    --md: 15px;
    --lg: 30px;
    --xl: 55px; } }
@media screen and (max-width: 991px) {
  :root {
    --font-size-base: 16px; } }
@media screen and (min-width: 992px) {
  :root {
    --font-size-base: 20px; } }
/*
General layout
*/
html,
body {
  height: 100%; }

html {
  font-size: var(--font-size-base);
  scroll-behavior: smooth; }

body {
  background-color: #fff;
  color: #384048;
  font: 300 1rem "Comfortaa", cursive;
  line-height: 1.75;
  display: flex;
  flex-direction: column;
  min-height: 100vh; }

.main {
  flex: 1; }

.container {
  margin-right: auto;
  margin-left: auto;
  transition: max-width 0.3s ease-in-out; }
  @media screen and (max-width: 374px) {
    .container {
      padding: 0 var(--md); } }
  @media screen and (min-width: 375px) {
    .container {
      max-width: calc(100% - 50px);
      width: 100%; } }
  @media screen and (min-width: 768px) {
    .container {
      max-width: calc(100% - 12vw); } }
  @media screen and (min-width: 992px) {
    .container {
      max-width: calc(100% - 14vw); } }
  @media screen and (min-width: 1200px) {
    .container {
      max-width: 1160px; } }
  @media screen and (min-width: 1400px) {
    .container {
      max-width: 1270px; } }

.footer,
.section {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  padding: 7vh 0;
  transition: all 0.15s ease-in-out; }
  @media screen and (min-width: 576px) {
    .footer,
    .section {
      min-height: 100vh; } }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Nunito Sans", sans-serif;
  line-height: 1.1;
  margin: 0; }

h1 {
  font-weight: 900; }
  @media screen and (max-width: 1023px) {
    h1 {
      font-size: 2.188rem;
      margin-bottom: 2.5vh; } }
  @media screen and (min-width: 1024px) {
    h1 {
      font-size: 2.4rem;
      margin-bottom: 4vh; } }
  @media screen and (min-width: 1200px) {
    h1 {
      font-size: 2.7rem; } }
  @media screen and (min-width: 1400px) {
    h1 {
      font-size: 3rem; } }

ul,
ol {
  margin: 0;
  padding: 0; }

li {
  line-height: 1.25; }

nav ul {
  list-style: none; }

a {
  color: #384048;
  text-decoration: none; }
  a a:focus, a:active, a:hover {
    outline: none;
    text-decoration: none; }

.small {
  font-size: .75em;
  line-height: 1.2; }

strong {
  font-weight: 600; }

blockquote {
  margin: 0; }

address {
  font-style: inherit; }

img {
  object-fit: cover; }

.nowrap {
  white-space: nowrap; }

.d-none {
  display: none; }

.blue {
  color: #0C5DDD; }

.orange {
  color: #EF6523; }

/*
Header elements
*/
.header {
  color: #11176c;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  min-height: 100vh;
  transition: all 0.15s ease-in-out; }
  .header.lazy {
    background-color: #F2AE2C;
    background-image: none; }
  @media screen and (max-width: 991px) {
    .header {
      align-items: center;
      padding: 0 var(--md); } }
  @media screen and (min-width: 992px) {
    .header {
      padding: 7vh 0; } }
  @media screen and (max-width: 767px) {
    .header {
      background: url("../img/bg-azati-m-min.png") #F2AE2C 50% 100% no-repeat; } }
  @media screen and (min-width: 768px) {
    .header {
      background: url("../img/bg-azati-min.png") #F2AE2C 50% 100% no-repeat;
      background-attachment: fixed;
      background-size: cover; } }
  .header .content-box {
    display: flex;
    flex-direction: column;
    position: relative; }
  .header h1 {
    letter-spacing: -.1px;
    margin-left: 3px;
    position: relative;
    z-index: 1;
    transition: all 0.15s ease-in-out; }
    @media screen and (max-width: 767px) {
      .header h1 {
        font-size: 3rem; } }
    @media screen and (min-width: 768px) {
      .header h1 {
        font-size: 4rem; } }
    @media screen and (min-width: 1200px) {
      .header h1 {
        font-size: 5rem; } }
    .header h1 small {
      display: block;
      font-size: .5em; }
    .header h1 span {
      display: block; }
  .header h2 {
    font-size: 2rem;
    font-weight: 700;
    margin-left: -2px;
    position: relative;
    z-index: 1; }
  @media screen and (min-width: 768px) {
    .header p {
      font-size: 1.25rem;
      padding-left: 20vw;
      position: relative;
      z-index: 1;
      width: auto; } }
  .header .btn {
    opacity: 0;
    animation: scaleOut 0.5s ease-in-out;
    animation-fill-mode: forwards;
    animation-delay: .5s; }
    @media screen and (min-width: 768px) {
      .header .btn {
        margin-left: 20vw; } }
  .header .lines--vert {
    bottom: 10vh;
    left: 0; }

.top-img {
  position: absolute;
  bottom: 30vh;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 0;
  max-width: 18vw; }
  .top-img img {
    max-width: 100%; }

/*
Footer elements
*/
.footer {
  background-color: #fff;
  font-size: 0.9rem;
  text-align: center;
  transition: all 0.3s ease-in-out;
  width: 100%; }
  .footer h1 {
    text-align: center; }
  .footer .content-box {
    display: grid; }
    @media screen and (max-width: 575px) {
      .footer .content-box {
        grid-template-columns: 1fr; } }
    @media screen and (min-width: 576px) {
      .footer .content-box {
        grid-template-columns: repeat(3, [col] 1fr);
        grid-gap: 0 var(--lg); } }
    .footer .content-box figure {
      margin: auto;
      text-align: center;
      position: relative;
      z-index: 1; }
      @media screen and (max-width: 575px) {
        .footer .content-box figure {
          margin-bottom: 2.5vh;
          width: 50vw; } }
      @media screen and (max-width: 374px) {
        .footer .content-box figure {
          width: 70vw; } }
      @media screen and (min-width: 576px) {
        .footer .content-box figure {
          grid-column: col / span;
          grid-row: row; } }
      .footer .content-box figure img {
        max-width: 100%;
        border-radius: 50%;
        overflow: hidden; }
      .footer .content-box figure .btn--skype {
        background: url("../img/i-skype-bw-min.svg") 0 4px no-repeat;
        background-size: 25px;
        padding: 5px 5px 5px 27px;
        transition: all 0.15s ease-in-out; }
        .footer .content-box figure .btn--skype:hover {
          color: #2ca0ff; }
      .footer .content-box figure span {
        font-size: 1.05rem;
        font-weight: 600;
        display: block;
        padding-top: 1vh; }
        @media screen and (max-width: 575px) {
          .footer .content-box figure span {
            line-height: 1.1; } }
  .footer .footer_address {
    background-color: #fcefd4;
    border-radius: 50%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    aspect-ratio: 1/1;
    line-height: 1.85;
    padding: 20px; }
    @media screen and (max-width: 575px) {
      .footer .footer_address {
        order: 2;
        margin: 0 auto;
        min-width: max-content;
        width: 50vw; } }
    @media screen and (max-width: 374px) {
      .footer .footer_address {
        width: 70vw; } }
    @media screen and (min-width: 576px) {
      .footer .footer_address {
        grid-column: col / span;
        grid-row: row; } }
  .footer .btn--telegram {
    background: url("../img/i-telegram-simple-min.svg") 0 7px no-repeat;
    background-size: 22px;
    padding: 3px 5px 5px 28px;
    transition: all 0.15s ease-in-out; }
    .footer .btn--telegram:hover {
      color: #2ca0ff; }
  .footer.footer--view .footer_address,
  .footer.footer--view img {
    animation: scaleOut 0.5s ease-in-out;
    animation-fill-mode: forwards;
    animation-delay: .15s; }
  .footer .footer_logo {
    display: inline-block;
    margin-bottom: 1.5vh; }

/* Animation */
@-webkit-keyframes scaleOut {
  0% {
    opacity: 0;
    transform: scale(0.1); }
  70% {
    transform: scale(1.1); }
  100% {
    opacity: 1;
    transform: scale(1); } }
@keyframes scaleOut {
  0% {
    opacity: 0;
    transform: scale(0.1); }
  70% {
    transform: scale(1.1); }
  100% {
    opacity: 1;
    transform: scale(1); } }
/*
Form elements
*/
input,
.form-control,
textarea {
  background-color: #ededed;
  border: 0 none;
  border-radius: var(--bdrs);
  box-sizing: border-box;
  color: #384048;
  padding: 15px;
  position: relative;
  width: 100%;
  transition: all 0.3s ease-in-out; }
  input:focus,
  .form-control:focus,
  textarea:focus {
    background-color: #fff;
    box-shadow: none;
    color: #000;
    outline: none; }

input[type="checkbox"] {
  max-width: 20px; }

/* Form group */
.form-group {
  display: block;
  line-height: 1.2; }

/* Labels */
label {
  display: block;
  padding-bottom: 2vh; }

/* Select */
/* Custom select */
/* Custom Select */
.custom-select {
  position: relative; }
  .custom-select select {
    display: none; }

.select-selected {
  background-color: #ededed;
  border-radius: var(--bdrs);
  color: red;
  line-height: 1.15;
  padding: 15px;
  transition: all 0.3s ease-in-out; }
  .select-selected:after {
    position: absolute;
    content: "";
    top: 25px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #384048 transparent transparent transparent; }
  .select-selected.select-arrow-active {
    background-color: #fff;
    color: #000; }
    .select-selected.select-arrow-active:after {
      border-color: transparent transparent #384048 transparent;
      top: 18px; }

.select-items div, .select-selected {
  box-sizing: border-box;
  color: #384048;
  cursor: pointer;
  transition: all 0.3s ease-in-out; }

.select-items {
  background-color: rgba(255, 255, 255, 0.94);
  border-radius: var(--bdrs);
  overflow: hidden;
  position: absolute;
  top: calc(100% + 1px);
  left: 0;
  right: 0;
  z-index: 99; }
  .select-items div {
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    font-size: 0.85rem;
    padding: 6px 16px 7px;
    min-height: 50px;
    display: flex;
    align-items: center; }

.select-hide {
  display: none; }

.select-items div:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
  color: #000; }

/* Custom checkbox */
.b-checkbox {
  display: block;
  position: relative;
  padding-left: 43px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
  .b-checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0; }
  .b-checkbox .checkmark {
    background-color: #ededed;
    border-radius: var(--bdrs);
    position: absolute;
    top: 0;
    left: 0;
    height: 30px;
    width: 30px; }
    .b-checkbox .checkmark:after {
      top: 7px;
      left: 11px;
      width: 5px;
      height: 10px;
      border: solid white;
      border-width: 0 3px 3px 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg); }
  .b-checkbox:hover input ~ .checkmark {
    background-color: #fff; }
  .b-checkbox input:checked ~ .checkmark {
    background-color: #0C5DDD; }

.checkmark:after {
  content: "";
  position: absolute;
  display: none; }

.b-checkbox input:checked ~ .checkmark:after {
  display: block; }

/*
Buttons
*/
.btn,
button {
  background-color: #ffeb4a;
  border: 0 none;
  border-radius: var(--xl);
  box-sizing: border-box;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  color: #11176c;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  height: 60px;
  outline: none;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  transition: all 0.15s ease-in-out;
  white-space: nowrap;
  -webkit-transition-property: box-shadow, transform;
  transition-property: box-shadow, transform; }
  @media screen and (max-width: 767px) {
    .btn,
    button {
      margin: 2vh auto;
      padding: 12px 30px 13px; } }
  @media screen and (max-width: 575px) {
    .btn,
    button {
      width: 100%; } }
  @media screen and (min-width: 576px) {
    .btn,
    button {
      width: max-content; } }
  @media screen and (min-width: 768px) {
    .btn,
    button {
      margin: 4vh auto;
      padding: 18px 40px 19px; } }
  @media screen and (min-width: 1400px) {
    .btn,
    button {
      min-width: 250px; } }
  .btn:hover,
  button:hover {
    background-color: #fffb0f;
    box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
    border: 0 none;
    text-decoration: none; }
  .btn:focus,
  button:focus {
    outline: none; }
  .btn.white,
  button.white {
    background-color: #fff;
    color: #EF6523; }

/*
Icons as html-tag
*/
.lines {
  position: absolute;
  width: max-content; }
  .lines div {
    margin: 5px; }
  .lines.lines--vert {
    display: flex;
    justify-content: space-between; }
    .lines.lines--vert div {
      height: 100px;
      width: 10px; }
  .lines.lines--horiz div {
    height: 10px;
    width: 100px; }
  .lines.lines--white div {
    background-color: #fff; }
  .lines.lines--blue div {
    background-color: #11176c; }
  .lines.lines--orange div {
    background-color: #EF6523; }
